@import "tailwindcss";

:root {
  --background: #f5f7fb;
  --foreground: #0f172a;

  --card: #ffffff;
  --border: #dce3ef;

  --muted: #eef2f8;

  --primary: #6366f1;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;

  --card: #1e293b;
  --border: #334155;

  --muted: #172033;

  --primary: #818cf8;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.rbc-calendar {
  background: transparent;
  color: white;
}

.rbc-month-view {
  border-color: rgb(51 65 85);
}

.rbc-header {
  padding: 12px;
}

.rbc-day-bg {
  background: transparent;
}

.rbc-today {
  background: rgba(59,
      130,
      246,
      0.1) !important;
}

.rbc-event {
  background: #2563eb !important;
  border: none !important;
}